body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: rgb(226, 155, 88);
  background: linear-gradient(180deg, rgba(226, 155, 88, 1) 39%, rgba(182, 113, 71, 1) 100%);
  color: #10214B;
  height: 100vh;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;

  html {
    height: 100%;
  }
}


:root {
  --orange: #FF5824;
  --blue-dark: #10214B;
}

.container {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 4rem 0;
  width: 95%;
}