.busca {
  padding: 2rem;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  text-align: center;

  h1 {
    width: 80%;
  }

  cursor: pointer;

  .form-group {
    margin: 1rem auto;
    width: 80%;
    display: flex;
    flex-direction: column;
    text-align: left;
    justify-content: center;
    align-items: center;

    label {
      font-size: 2rem;
      font-weight: bold;
    }

    input {
      border-radius: 5px;
      padding: 10px;
      font-size: 1.3rem;
      outline: 0;

      &[type="text"] {
        width: 50%;
        height: 50px;
        background-color: #e29b58;
        font-weight: bold;
      }

      &[type="submit"] {
        margin: 2rem auto;
        color: white;
        width: 40%;
        height: 50px;
        cursor: pointer;
        border: 0;
        background-color: #cc6a0f;

        &:hover {
          transition: 0.2s;
          background-color: #b3763c;
          box-shadow: 10px 0px 20px -1px #ff57249f;
        }

        &[disabled] {
          background-color: #c2c2c276;
          cursor: not-allowed;
        }
      }

      &::placeholder {
        color: white;
        letter-spacing: 0.5px;
      }
    }
  }

  .loading-container {
    width: 100%;
    display: flex;
    align-items: center;

    img {
      margin: 0 auto;
      width: 400px;
      height: 400px;
    }
  }
}

.result-container {
  width: 80%;
  min-height: 400px;
  text-align: center;
  margin: 0 auto;

  button {
    font-size: 1.1rem;
    margin: 2rem auto;
    color: white;
    width: 300px;
    height: 50px;
    cursor: pointer;
    border-radius: 5px;
    border: 0;
    background-color: #cc6a0f;

    &:hover {
      transition: 0.2s;
      background-color: #b3763c;
      box-shadow: 10px 0px 20px -1px #ff57249f;
    }
  }

  .result-box {
    padding: 1rem 0;
    width: 100%;
    height: 400px;
    overflow-y: scroll;
  }
}